body{
	background: #f0efe9;
	font-family: 'Varela Round', sans-serif;
}


.center-wrapper{
	background: #FFF;
	max-width: 320px;
	height: auto;
	left:0;
	right: 0;
	margin: auto;
	padding:30px;
    position: relative;
    border-radius: 1em;
	font-size: 18px;
	padding: 2.75em 3.45em;
	box-shadow: 0 2px 10px 4px rgba(0,0,0,0.05);
}

.center-wrapper .top{
	text-transform: uppercase;
	display: table;
	width: 100%;
	padding-bottom: 2.5em;
}
.center-wrapper .day,
.center-wrapper .year-month{
	float:left;
}

.center-wrapper .day{
	font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    padding-right: 10px;
}

.center-wrapper .month{font-weight: bold;}

.center-wrapper .year-month span{
	display: block;
	font-size: 14px;
}

.center-wrapper .year-month{
	line-height: 1.40;
    padding-top: 5px;
}

.center-wrapper .top .today{
	float:right;
	line-height: 48px;
	font-size: 16px;
}

.center-wrapper .top{
	color: #616473;
}

.center-wrapper .main{
	height: 432px;
    overflow: hidden;
    position: relative;
}

.center-wrapper .main::after{
	content:" ";
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	display: block;
}

.center-wrapper .main ul{
	margin: 0;
	padding: 0;
}

.center-wrapper .main ul li{
	list-style: none;
	color: #3e434f;
	padding-bottom: 2em;
	line-height: 30px;
	position: relative;
}



.center-wrapper .main ul li.done input{
	color: #bdc0ca;
	pointer-events:none;
}

.center-wrapper .main ul li.done span.selector,
.center-wrapper .main ul li:hover .selector{
	border-color:#50e3a4;
}

.icon { 
    float: left;
    color: #e35050;
    padding-right: 20px;
    line-height: 30px !important;
}

ul li.done span.selector::after{
    content: "";
    position: absolute;
    left: 5px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 100em;
    background: #50e3a4;
}

input{
	background: none;
    border: none;
    font-size: 18px;
    outline: none;
   	font-family: 'Varela Round', sans-serif;
   	min-width: 237px;
}
.center-wrapper .main ul li::after{
    content: " ";
    /* background: #000; */
    right: 40px;
    top: 0;
    height: 30px;
    width: 40px;
    display: block;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    position: absolute;
}


ul li span.selector{
	width: 22px;
	height: 22px;
	border:4px solid #eee;
	content:" ";
	display: inline-block;
	float: right;
	border-radius:10em;
	position: relative;
}

.center-wrapper .button{
    background: #50e3a4;
    width: 87px;
    height: 87px;
    position: absolute;
 	bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10em;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    line-height: 87px;
    cursor:pointer;
}

.slide-in{
	animation: slide-in 0.3s ease;
}


@keyframes slide-in {
    0% { 
    	opacity: 1;
    	height: 0;
    }
    100% {
    	opacity: 1;
    	height: 30px; 
    }
}

@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}